

.certificados-container h1 {
  margin-bottom: 20px;
}

.title{
    display: flex;
    align-items: center;
}
.title h2{
  margin-bottom: 20px;
}
.bacharelado-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.certificado{
  max-width: 300px;
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: -4px -4px 3px #ffffff20,
                3px   3px  3px #0000004e;
  padding: 12px;
  margin-top: 30px;
}
.certificados-img{
    width: 290px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    display: flex;
    margin-bottom: 20px;
}

.certificado-container{
 display: flex;
 justify-content:space-around;
 margin-bottom: 20px;

}


span{
  font-weight: bold;
  color: #13ac0e;
}

.title-certificado{
  display: flex;
  margin: 0 auto;
}

h2{
  display: flex;
  margin: 20px auto;

}

@media (max-width: 500px){

  .certificado-container{
    display: flex;
    flex-direction: column;
    margin: 3rem 10px;
    gap: 2rem;
  }

  .certificado{
    width: 375px;
    margin: 0 auto;
    font-size: 1rem;
  }
}