.main{
    display: flex;
    justify-content:space-around;
    margin-top: 10%;
    max-height: 500px;
}
.info{
    font-size: 1.5rem;
    
}

.typewriter{
    white-space: nowrap;
    overflow:hidden;
    border-right: 2px solid aqua;
    animation: typing 2s steps(30, end) forwards, blink 0.9s step-end infinite;
}
 @keyframes typing {
      from { width: 0 }
      to { width: 12ch }
    }
  @keyframes blink {
      50% { border-color: transparent }
    }

.img-control{
    max-width: 500px;
    text-align: center;
}

.img-control img {
    width: 350px;
    height: 350px;
    border-radius: 50%;   
    object-fit: cover;
    box-shadow: 100px 50px 0 8px #70747c;
    border: 3px solid #2a2e34;
}

@media (max-width: 768px) {    
    .main{
        display:flex;
        flex-direction:column-reverse;    
    }
    .img-control{
        max-width: 300px; 
        margin: 0 auto;
    }
    .img-control img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: 0 0 15px 2px #b0b7c3;
        object-fit: cover;
    }
    .info{
        font-size: 1.3rem;
       margin: 3rem;
    }

}