.port-colum{
    display: flex;
    justify-content:space-around;
    margin: 5rem auto;
}

.card-control{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
    align-items: center;
    background-color: #0e1217;
    border-radius: 15px;
    box-shadow: -4px -4px 3px #ffffff20,
                3px   3px  3px #0000004e;

}

.card-control img{
    width: 350px;
    height: 200px;
}

.btn-port{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .2;
    opacity: 1;
}

.btn-port:hover{
    opacity: .3;
}

@media (max-width: 500px){

  .port-colum{
    display: flex;
    flex-direction: column;
    margin: 3rem 10px;
    gap: 2rem;
  }

  .card-control{
    width: 375px;
    font-size: 1rem;
  }
}


